.company-options__container {
  display: flex;
  flex-direction: row;
  & .option__container {
    padding: 0.5em;

    &:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
    & .option__wrap {
      &:not(.option--available) {
        display: none;
      }

      & .option__image {
        & .image__wrap {
          max-width: 250px;

          & img {
            width: 100%;
            max-width: 100%;
          }
        }
      }

      & .option__title {
        & h2 {
          font-weight: 400;
          font-size: 1rem;
        }
      }

      & .option__amount {
        & h2.amount {
          font-weight: 400;
          color: var(--color-link);
        }
        & p.amount__detail {
          font-size: 1rem;
          opacity: 0.75;
        }
      }

      & .option__select-btn {
        & .select-btn {
          & button.select-button {
            &:not(.btn-selected) {
              color: var(--color-link);
              background: transparent;
              border: 1px solid var(--color-link);

              &:hover {
                background-color: var(--color-link);
                border-color: transparent;
                color: #fff;
              }
            }

            &.btn--selected {
              background-color: var(--color-link);
              border-color: transparent;
              color: #fff;
            }

            padding: 12px 24px;
            font-size: 0.875rem;
            font-weight: 600;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
